<h1>Editing Projectfavlookup Vw</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @projectfavlookup_vw, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', projectfavlookup_vws_path, class: "btn btn-default" %>

