<h1>Editing Time Log</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @time_log, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', time_logs_path, class: "btn btn-default" %>

