
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'menu94app_MenuItem_list' %}">
    MenuItem Listing
    </a>
</p>
    
<table class="table">
    <tr><td>sortorder</td><td>{{ object.sortorder }}</td></tr>
    <tr><td>updated</td><td>{{ object.updated }}</td></tr>
    <tr><td>url</td><td>{{ object.url }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>grouping</td><td>{{ object.grouping }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>status</td><td>{{ object.status }}</td></tr>
    <tr><td>parent</td><td>{{ object.parent }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}