<h1>Editing Favorite Project</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @favorite_project, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', favorite_projects_path, class: "btn btn-default" %>

